<plugin name='kickstart-with-bootstrap' version='0.8.7' grailsVersion='2.1.1 &gt; *'>
  <author>Joerg Rech</author>
  <authorEmail>joerg.rech@gmail.com</authorEmail>
  <title>Kickstart with Bootstrap - Good looking websites!</title>
  <description>Kickstart is a plugin for Grails to start your project with a good looking frontend. It provides adapted scaffolding templates for standard CRUD pages using the Bootstrap web page template by Twitter.</description>
  <documentation>http://grails.org/plugin/kickstart-with-bootstrap</documentation>
  <type>KickstartWithBootstrapGrailsPlugin</type>
  <resources>
    <resource>KickstartResources</resource>
    <resource>kickstart.KickstartFilters</resource>
    <resource>spring.resources</resource>
    <resource>HomeController</resource>
    <resource>kickstartwithbootstrapgrailsplugin._DemoPageController</resource>
    <resource>kickstartwithbootstrapgrailsplugin._DemoPage</resource>
    <resource>kickstart.BootstrapTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
    <repository name='http://maven.springframework.org/milestone' url='http://maven.springframework.org/milestone/' />
  </repositories>
  <dependencies />
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='cache' version='1.0.0' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='database-migration' version='1.1' />
      <plugin group='org.grails.plugins' name='hibernate' version='2.1.1' />
      <plugin group='org.grails.plugins' name='cloud-foundry' version='1.2.3' />
      <plugin group='org.grails.plugins' name='resources' version='1.1.6' />
      <plugin group='org.grails.plugins' name='jquery' version='1.8.0' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.1.1' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>