<plugin name='kickstart-with-bootstrap' version='0.4' grailsVersion='1.3.7 &gt; *'>
  <author>Joerg Rech</author>
  <authorEmail>joerg.rech@gmail.com</authorEmail>
  <title>Good looking web project setup with Bootstrap!</title>
  <description>\
&lt;h3&gt;Introduction&lt;/h3&gt;
&lt;p&gt;Kickstart is an extension for Grails in order to start your project with a good looking frontend. 
It provides adapted scaffolding templates for standard CRUD pages using the Bootstrap web page template by Twitter.&lt;/p&gt;
&lt;h3&gt;Usage&lt;/h3&gt;
&lt;p&gt;After installation you can call "grails kickstartWithBootstrap" which will copy several files into your project. 
It will overwrite only few files (e.g., in conf, src, and views) - you should use it only on fresh new Grails projects. 
&lt;/p&gt;
&lt;p&gt;Afterwards create your domain classes (or copy them into the project) and generate contollers and views - they will
now use the Bootstrap framework!
&lt;/p&gt;
&lt;h3&gt;Notes:&lt;/h3&gt;
&lt;p&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Currently, only tested with Grails 1.3.7!&lt;/li&gt;
&lt;li&gt;Does only use plain Bootstrap (currently, without Less).&lt;/li&gt;
&lt;li&gt;The plugin copies the files into your project - you can uninstall the plugin thereafter.&lt;/li&gt;
&lt;li&gt;It does NOT use the Bootstrap plugin.&lt;/li&gt;
&lt;/ul&gt;
&lt;h3&gt;Terms of Use:&lt;/h3&gt;
&lt;p&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;Bootstrap (from Twitter): Code licensed under the Apache License v2.0. Documentation licensed under CC BY 3.0. (@TwBootstrap , http://twitter.github.com/bootstrap/)&lt;/li&gt;
&lt;li&gt;Kickstart Plugins: Code licensed under the Apache License v2.0. Documentation licensed under CC BY 3.0. Copyright 2011 Jörg Rech (@JoergRech, http://joerg-rech.com)&lt;/li&gt;
&lt;/ul&gt;

</description>
  <documentation>http://grails.org/plugin/kickstartWithBootstrap</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>kickstart.KickstartFilters</resource>
    <resource>kickstart.BootstrapTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>