<plugin name='kickstart-with-bootstrap' version='0.7.0' grailsVersion='2.0.0 &gt; *'>
  <author>Joerg Rech</author>
  <authorEmail>joerg.rech@gmail.com</authorEmail>
  <title>Kickstart with Bootstrap - Good looking websites!</title>
  <description>Kickstart is a plugin for Grails to start your project with a good looking frontend. It provides adapted scaffolding templates for standard CRUD pages using the Bootstrap web page template by Twitter.</description>
  <documentation>http://grails.org/plugin/kickstart-with-bootstrap</documentation>
  <type>KickstartWithBootstrapGrailsPlugin</type>
  <resources>
    <resource>spring.resources</resource>
    <resource>kickstart.BootstrapTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>